<?xml version="1.0"?>
<!--
/**
 * Codilar Technologies Pvt. Ltd.
 * @category    Codilar_Gst Extension
 * @package    Codilar\Gst\etc
 * @copyright   Copyright (c) 2017 Codilar. (http://www.codilar.com)
 * @purpose     Dependency Injection
 * @author       Codilar Team
 **/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Overriding Magento DefaultInvoice and Invoice file adding gst columns  -->
    <preference for="Magento\Sales\Model\Order\Pdf\Items\Invoice\DefaultInvoice" type="Codilar\Gst\Model\Order\Pdf\Items\Invoice\DefaultInvoice" />
    <preference for="Magento\Sales\Model\Order\Pdf\Invoice" type="Codilar\Gst\Model\Order\Pdf\Invoice" />

    <preference for="Magento\Sales\Model\Order\Pdf\Items\Creditmemo\DefaultCreditmemo" type="Codilar\Gst\Model\Order\Pdf\Items\Creditmemo\DefaultCreditmemo" />
    <preference for="Magento\Sales\Model\Order\Pdf\Creditmemo" type="Codilar\Gst\Model\Order\Pdf\Creditmemo" />

    <preference for="Magento\Sales\Model\ResourceModel\Report\Order\Collection" type="Codilar\Gst\Model\ResourceModel\Report\Order\Collection"/>
    <preference for="Magento\Tax\Model\ResourceModel\Report\Collection" type="Codilar\Gst\Model\ResourceModel\Report\Collection"/>

    <preference for="Magento\Sales\Model\ResourceModel\Report\Order\Createdat" type="Codilar\Gst\Model\ResourceModel\Report\Order\Createdat"/>
    <preference for="Magento\Tax\Model\ResourceModel\Report\Tax\Createdat" type="Codilar\Gst\Model\ResourceModel\Report\Tax\Createdat"/>

</config>