<?xml version="1.0"?>
<!--
/**
 * Codilar Technologies Pvt. Ltd.
 * @category    Codilar_Gst Extension
 * @package    Codilar\Gst\etc\frontend
 * @copyright   Copyright (c) 2017 Codilar. (http://www.codilar.com)
 * @purpose     Dependency Injection for passing configuration values
 * @author       Codilar Team
 **/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="codilar_gst_checkout_config_provider" xsi:type="object">Codilar\Gst\Model\Checkout\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Customer\Block\Address\Edit">
        <plugin name="codilar_gst_address_gstin" type="Codilar\Gst\Plugin\Customer\AddressEdit" sortOrder="2"/>
    </type>

</config>