<?xml version="1.0"?>
<!--
/**
 * Codilar Technologies Pvt. Ltd.
 * @category    Codilar_Gst Extension
 * @package    Codilar\Gst\etc\adminhtml
 * @copyright   Copyright (c) 2017 Codilar. (http://www.codilar.com)
 * @purpose     Dependency Injection for overriding core files
 * @author       Codilar Team
 **/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer" type="Codilar\Gst\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer"/>
    <preference for="Magento\Sales\Block\Adminhtml\Items\Renderer\DefaultRenderer" type="Codilar\Gst\Block\Adminhtml\Items\Renderer\DefaultRenderer"/>

    <preference for="Magento\Reports\Block\Adminhtml\Sales\Sales\Grid" type="Codilar\Gst\Block\Adminhtml\Sales\Sales\Grid"/>
    <preference for="Magento\Reports\Block\Adminhtml\Sales\Tax\Grid" type="Codilar\Gst\Block\Adminhtml\Sales\Tax\Grid"/>
</config>