<?xml version="1.0"?>
<!--
/**
 * Codilar Technologies Pvt. Ltd.
 * @category    Codilar_Gst Extension
 * @package    Codilar\Gst\etc\adminhtml
 * @copyright   Copyright (c) 2017 Codilar. (http://www.codilar.com)
 * @purpose     frontname configuration
 * @author       Codilar Team
 **/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="codilar_gst" frontName="codilar_gst">
            <module name="Codilar_Gst" before="Magento_Backend" />
        </route>
    </router>
</config>
